<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/YouTubeAnalysis/src/q5_top10_CustomKey/Q5_Driver_CustomKey.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="q5_top10_CustomKey.Q5_Driver_CustomKey"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="YouTubeAnalysis"/>
</launchConfiguration>
